@import "theme";

.bio {
  margin: 20px 0px;
};

.bio-picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
};

.bio-name h1 {
  color: $theme-secondary;
  margin-top: 20px;
};

.bio-org h4 {
  color: white;
  min-height: 60px;
};
