@import "theme";

.cover-logo img {
  max-width: 100%;
  border: none !important;
};

.cover h1,
.cover h2,
.cover h3,
.cover h4 {
  margin: 10px 0px;
};

.cover-title,
.cover-subtitle,
.cover-details,
.cover-subscribe {
  margin: 30px 0px;
};

.cover-title h1 {
  color: white;
  margin: 0px;
  font-size: 4.0em;
};

.cover-subtitle h3 {
  color: $theme-primary;
};

.cover-subtitle h4 {
  color: $theme-secondary;
};

.cover-details p {
  margin: 0px !important;
};

.cover-subscribe {
  margin-bottom: 0px;
};
