$theme-bg:        #ffffff;
$theme-red:       #FF3B30;

$theme-text:      #ffffff;
$theme-primary:   #009999;
$theme-dark:      #1D7373;
$theme-darker:    #006363;
$theme-light:     #5CCCCC;

.temp {
  color: $theme-red !important;
};

.transparent{
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(238, 238, 238, 0.27);
    color: $theme-text;
};

.transparent:focus{
    border-color: #ffffff;
};

.brand-font {
  font-family: "Neo Sans Bold";
};

.theme-bg-primary {
  background-color: $theme-primary;
  color: white;
};

.theme-bg-primary a {
  color: $theme-light;
}

.theme-bg-alt {
  background-color: white;
  color: $theme-dark !important;
};

.theme-bg-alt a {
  color: white;
};

.row {
  margin-bottom: 50px;
};

.row:last-child {
  margin-bottom: 0px;
}
